.vs
database\IntegrationTest.Database\bin
database\IntegrationTest.Database\obj
database\IntegrationTest.Database\IntegrationTest.Database.jfm
IntegrationTest.Api\bin
IntegrationTest.Api\obj

/database/IntegrationTest.Database/obj
/database/IntegrationTest.Database/bin
/test/IntegrationTest.Api.Test/obj
/test/IntegrationTest.Api.Test/bin
/database/IntegrationTest.Database/IntegrationTest.Database.dbmdl
